
<div style="width: 700px; margin: auto;">

  <h1>Photo Gallery</h1>

  <% if user_signed_in? %>
      <%= form_for @gallery do |f| %>
      <%= f.file_field :image %>
      <%= f.text_field :title %><br />
          <%= f.submit %>
      <% end %>
  <% end %>

    <% @galleries.each do |gallery| %>
    <div>
      <%= image_tag gallery.image.url(:thumb) %>
      <%= gallery.title %>
    </div>
    <li>Posted By:<%= gallery.user.name %> </li><hr />
    <% end %>
</div>
